
body {
	background-color: Thistle;
}

h1{
font-family: bookman;
font-size: 15px;
color: crimson;

}

h2{
font-family: bookman;
font-size: 12px;
color: blue;

}

p{
font-family: bookman;
font-size: 10px;
color: crimson;

}

a{
font-family: bookman;
font-size: 10px;
color: crimson;

}